gmail-monitor-and-categorizer.json
{
  "name": "Gmail Monitor & Categorizer",
  "nodes": [
    {
      "parameters": {
        "content": "Receives instant push from Gmail. Copy this node's webhook URL into the Gmail Watch node in Workflow A.",
        "height": 80,
        "width": 360,
        "color": 4
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Sticky Note - Gmail Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "events": [
          "messageReceived"
        ],
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "gmail-trigger-webhook-id-001",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "Fetches full email details: subject, from, date, snippet, body.",
        "height": 80,
        "width": 320,
        "color": 4
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Sticky Note - Get Message",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        550,
        100
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "get",
        "messageId": "={{ $json.message.id }}",
        "options": {
          "format": "full"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Gmail: Get Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "Routes Upwork job posts to dedicated path. All other emails go to the Switch categorizer.",
        "height": 80,
        "width": 360,
        "color": 3
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Sticky Note - IF Upwork",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-upwork-1",
              "leftValue": "={{ $json.subject.toLowerCase().includes('upwork') || ($json.from || '').toLowerCase().includes('upwork.com') || $json.subject.toLowerCase().includes('invitation to interview') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "IF: Is Upwork?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1150,
        300
      ]
    },
    {
      "parameters": {
        "content": "Label must be pre-created in Gmail before running.",
        "height": 60,
        "width": 280,
        "color": 2
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Sticky Note - Add Label Upwork",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        80
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": {
          "labelNames": [
            "Upwork-Jobs"
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Gmail: Add Label Upwork-Jobs",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1550,
        180
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "Marks Upwork email as read automatically.",
        "height": 60,
        "width": 260,
        "color": 2
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Sticky Note - Mark Read Upwork",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        80
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Gmail: Mark as Read (Upwork)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1950,
        180
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "Extracts the Upwork job link from the email body using regex.",
        "height": 60,
        "width": 320,
        "color": 2
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000011",
      "name": "Sticky Note - Extract Job URL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2150,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.textPlain || $input.first().json.snippet || '';\nconst match = body.match(/https:\\/\\/www\\.upwork\\.com\\/jobs\\/[^\\s\"<>]+/);\nreturn [{ json: { ...$input.first().json, jobUrl: match ? match[0].replace(/&amp;/g, '&') : 'URL not found' } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000012",
      "name": "Code: Extract Job URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        180
      ]
    },
    {
      "parameters": {
        "content": "Logs job to Google Sheet. Sheet must have headers: Date Received | Job Title | Preview | Job URL",
        "height": 80,
        "width": 380,
        "color": 5
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000013",
      "name": "Sticky Note - Sheets",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2550,
        80
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Upwork Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Received": "={{ $json.date }}",
            "Job Title": "={{ $json.subject }}",
            "Preview": "={{ $json.snippet }}",
            "Job URL": "={{ $json.jobUrl }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000014",
      "name": "Google Sheets: Append Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2700,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth2-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "Sends instant Telegram alert. Replace YOUR_CHAT_ID with your actual ID from @userinfobot.",
        "height": 80,
        "width": 360,
        "color": 5
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000015",
      "name": "Sticky Note - Telegram",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2950,
        80
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_CHAT_ID",
        "text": "=\u00f0\u0178\u201c\u00ac New Upwork Job Post!\n\nTitle: {{ $json.subject }}\nDate: {{ $json.date }}\n\nPreview: {{ $json.snippet }}\n\nLink: {{ $json.jobUrl }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000016",
      "name": "Telegram: Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3100,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-api-cred",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "content": "Categorizes all non-Upwork emails. First match wins. 'Personal' is the fallback.",
        "height": 80,
        "width": 380,
        "color": 3
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000017",
      "name": "Sticky Note - Switch",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        580
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "input",
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "switch-cond-newsletter",
                    "leftValue": "={{ $json.subject.toLowerCase().includes('newsletter') || $json.subject.toLowerCase().includes('digest') || $json.subject.toLowerCase().includes('unsubscribe') || ($json.from||'').toLowerCase().includes('noreply') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "switch-cond-finance",
                    "leftValue": "={{ $json.subject.toLowerCase().includes('invoice') || $json.subject.toLowerCase().includes('payment') || $json.subject.toLowerCase().includes('receipt') || $json.subject.toLowerCase().includes('bill') || $json.subject.toLowerCase().includes('statement') || $json.subject.toLowerCase().includes('transaction') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Finance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "switch-cond-social",
                    "leftValue": "={{ ($json.from||'').toLowerCase().includes('linkedin') || ($json.from||'').toLowerCase().includes('twitter') || ($json.from||'').toLowerCase().includes('facebook') || ($json.from||'').toLowerCase().includes('instagram') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Social"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "switch-cond-personal",
                    "leftValue": "=true",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Personal"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000018",
      "name": "Switch: Categorize",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1550,
        700
      ]
    },
    {
      "parameters": {
        "content": "Newsletter \u00e2\u20ac\u201d Label must be pre-created in Gmail.",
        "height": 60,
        "width": 280,
        "color": 1
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000019",
      "name": "Sticky Note - Newsletter Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        540
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": {
          "labelNames": [
            "Newsletter"
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000020",
      "name": "Gmail: Add Label Newsletter",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1950,
        620
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000021",
      "name": "Gmail: Mark as Read (Newsletter)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2200,
        620
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "Finance \u00e2\u20ac\u201d Label must be pre-created in Gmail.",
        "height": 60,
        "width": 280,
        "color": 1
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000022",
      "name": "Sticky Note - Finance Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        740
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": {
          "labelNames": [
            "Finance"
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000023",
      "name": "Gmail: Add Label Finance",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1950,
        820
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000024",
      "name": "Gmail: Mark as Read (Finance)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2200,
        820
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "Social \u00e2\u20ac\u201d Label must be pre-created in Gmail.",
        "height": 60,
        "width": 280,
        "color": 1
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000025",
      "name": "Sticky Note - Social Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        940
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": {
          "labelNames": [
            "Social"
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000026",
      "name": "Gmail: Add Label Social",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1950,
        1020
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000027",
      "name": "Gmail: Mark as Read (Social)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2200,
        1020
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "Personal \u00e2\u20ac\u201d Label must be pre-created in Gmail.",
        "height": 60,
        "width": 280,
        "color": 1
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000028",
      "name": "Sticky Note - Personal Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        1140
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": {
          "labelNames": [
            "Personal"
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000029",
      "name": "Gmail: Add Label Personal",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1950,
        1220
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000030",
      "name": "Gmail: Mark as Read (Personal)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2200,
        1220
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-cred",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Gmail: Get Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Get Message": {
      "main": [
        [
          {
            "node": "IF: Is Upwork?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Is Upwork?": {
      "main": [
        [
          {
            "node": "Gmail: Add Label Upwork-Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch: Categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Add Label Upwork-Jobs": {
      "main": [
        [
          {
            "node": "Gmail: Mark as Read (Upwork)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Mark as Read (Upwork)": {
      "main": [
        [
          {
            "node": "Code: Extract Job URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Job URL": {
      "main": [
        [
          {
            "node": "Google Sheets: Append Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Append Row": {
      "main": [
        [
          {
            "node": "Telegram: Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Categorize": {
      "main": [
        [
          {
            "node": "Gmail: Add Label Newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Add Label Finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Add Label Social",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Add Label Personal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Add Label Newsletter": {
      "main": [
        [
          {
            "node": "Gmail: Mark as Read (Newsletter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Add Label Finance": {
      "main": [
        [
          {
            "node": "Gmail: Mark as Read (Finance)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Add Label Social": {
      "main": [
        [
          {
            "node": "Gmail: Mark as Read (Social)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Add Label Personal": {
      "main": [
        [
          {
            "node": "Gmail: Mark as Read (Personal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}