scrapers/linkedin-outreach-automation/LinkedIn Job Application Outreach.json
{
  "name": "LinkedIn Job Application Outreach",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "8e51bdd7-73d0-4ae4-a429-3ca4c3f3eb33",
      "name": "Daily Summary Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2416,
        1280
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU",
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles UK ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2093145712,
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit#gid=2093145712"
        },
        "options": {}
      },
      "id": "e027c98d-f60f-4cf2-acc3-9a19e24f7dcc",
      "name": "Read Daily Logs from Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2192,
        1280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N7IlWg1Kh9wzs68A",
          "name": "hussein_sheets"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "status"
            }
          ]
        },
        "options": {}
      },
      "id": "c718c020-e189-48e2-a4a8-b24876d160c0",
      "name": "Aggregate Daily Summary",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1968,
        1280
      ]
    },
    {
      "parameters": {
        "sendTo": "ammar@vecpg.com",
        "subject": "={{ 'LinkedIn Outreach Daily Summary - ' + $now.toFormat('yyyy-MM-dd') }}",
        "message": "={{ '<h2>LinkedIn Outreach Daily Summary</h2><p><strong>Date:</strong> ' + $now.toFormat('yyyy-MM-dd') + '</p><h3>Statistics</h3><ul><li><strong>Total Connections Sent:</strong> ' + $('Aggregate Daily Summary').item.json.count + '</li><li><strong>Jobs Processed:</strong> ' + $('Aggregate Daily Summary').item.json.uniqueJobs + '</li></ul><h3>Connections Made Today</h3>' + $('Aggregate Daily Summary').item.json.connectionsList + '<hr><p style=\"color: #666; font-size: 12px;\">This is an automated summary from your LinkedIn Outreach workflow.</p>' }}",
        "options": {}
      },
      "id": "3af6ff9d-08ec-498d-b45f-e27be0b765a0",
      "name": "Send Daily Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1744,
        1280
      ],
      "webhookId": "9c70030e-a6f5-4a0b-8cb9-e17ba20a75b8",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU",
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles UK ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2093145712,
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit#gid=2093145712"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Processed"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2352,
        496
      ],
      "id": "1ec90f23-89f7-421d-bf8b-6203e027bcb7",
      "name": "get_LinkedIn",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N7IlWg1Kh9wzs68A",
          "name": "hussein_sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor and get dataset"
      },
      "type": "@apify/n8n-nodes-preview-apify.apify",
      "typeVersion": 1,
      "position": [
        -1360,
        528
      ],
      "id": "62bbd2f1-6231-4436-aa39-1d9a8fa68709",
      "name": "scrape_hiring managers",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f4befd3-6272-4659-931c-a61aef295db9",
              "name": "HOS_profile",
              "value": "={{ $json.output['head of sales'].profileUrl }}",
              "type": "string"
            },
            {
              "id": "fff3ab60-28b9-42b0-a9be-d93ed61824f8",
              "name": "provider_id",
              "value": "={{ $json.output['head of sales'].urn.split(':').pop() }}",
              "type": "string"
            },
            {
              "id": "233ee0b0-be58-4972-8428-5bad8473227d",
              "name": "name",
              "value": "={{ $json.output['head of sales'].name }}",
              "type": "string"
            },
            {
              "id": "6fcb3eab-c0ff-439a-bed4-115dd2d893b0",
              "name": "profileUrl",
              "value": "={{ $json.output['head of sales'].profileUrl }}",
              "type": "string"
            },
            {
              "id": "9b9e662d-12a3-4ca1-8fa7-20f292c4a745",
              "name": "title",
              "value": "={{ $json.output['head of sales'].title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        464
      ],
      "id": "c0a19a82-f303-4d31-83e0-8c3abb81e1e0",
      "name": "HR_LinkedInURL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2576,
        592
      ],
      "id": "bf2c28f5-8ab9-4e33-ab01-a8b8efea584c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api25.unipile.com:15546/api/v1/users/invite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"provider_id\": \"{{ $('HR_LinkedInURL').item.json.provider_id }}\",\n  \"account_id\": \"rDPE1f6bS3C4aYj75yq7QQ\",\n  \"message\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        336
      ],
      "id": "1fd3510c-515f-47e1-afee-d3a3f46407b4",
      "name": "send_invitation",
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "8O4PgzW5mpb7yNgR",
          "name": "kie_qurb"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "db0e356b-009e-4e8e-96ae-9a340e8b631e",
      "name": "LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"head of sales\":\n\t{\n\t\t\"name\": \"John Smith\",\n\t\t\"profileUrl\":\n          \"https://www.linkedin.com/in/johnsmith\",\n    \t\t\"title\": \"Engineering Manager\",\n\t\t\t\"relevanceScore\": 0.95,\n            \"urn\": \"ACoAACHeOY8Bw3OnRdiKaRLnfYVCF-TITjPW-Fc\"\n\t\t}\n}"
      },
      "id": "bfdda56c-cf1b-4f35-87ed-6a2fbaa01c36",
      "name": "Hiring Managers Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -624,
        560
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "cssSelector": ".description__text.description__text--rich"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1904,
        400
      ],
      "id": "1316e3bd-4afb-4b3c-bedd-aa79f32b48de",
      "name": "HTML",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are a sales leadership identification specialist. Your purpose is to analyze a provided list of LinkedIn profiles and extract the single most relevant Head of Sales–level professional from that list only.\n\n## Context\n- You will not perform searches and will not use any external tools.\n- You will evaluate only the LinkedIn profiles provided as input.\n- Each profile includes: company_url, profile_url, fullname, headline, public_identifier, profile_picture_url, location, urn,\n\n## Instructions\n1. Review every provided LinkedIn profile.\n2. Filter profiles whose headline or current role contains any of the following keywords:\n   - Head of Sales\n   - VP of Sales\n   - Sales Director\n   - Director of Sales\n   - VP Sales\n3. Evaluate filtered profiles based on:\n   - Current sales leadership title\n   - Executive-level sales responsibility\n   - Revenue generation oversight\n   - Team management authority\n4. Rank the qualified profiles by seniority and relevance.\n5. Return exactly the top 1 most relevant profile.\n\n## Tools\n- None. Do not use HTTP or external search.\n\n## Examples\nInput:\nList of LinkedIn profiles with headlines and role information.\n\nOutput:\nTop 1 Head of Sales–level profile from the provided list, with a relevance score of 100.\n\n## SOP (Standard Operating Procedure)\n1. Extract all profiles matching the keyword criteria.\n2. Assess leadership seniority based on title.\n3. Compare relevance based on role scope and responsibilities.\n4. Select the highest-ranking single profile.\n5. Output only the selected profile.\n\n## Final Notes\n- Ignore profiles that do not clearly match Head of Sales keywords.\n- Always return exactly one profile.\n- Never perform external research or lookups."
        }
      },
      "id": "4ef69989-1e38-4e6f-a993-d5a21064dcaa",
      "name": "Filter Top Head of Sales",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -688,
        336
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job Title: {{ $('get_LinkedIn').item.json['Job Title'] }}\nCompany: {{ $('get_LinkedIn').item.json['Company Name'] }}\nJob Description: {{ $('HTML').item.json[''] }}\n\n\nHead of Sales: {{ $json.name }}\nTitle: {{ $json.title }}\nProfile: {{ $json.profileUrl }}",
        "options": {
          "systemMessage": "=[Intent]\nYou are a senior recruiter who only messages Head of Sales on LinkedIn when you have genuinely strong candidates.\n\nYour style is short, British, straight-to-the-point, zero fluff, and never sounds like AI. You never use em dashes (–), exclamation marks in the middle of sentences, or corporate jargon.\n\nYou will receive these five pieces of information:\n- Head of Sales first name\n- Job title they are hiring for\n- Location (if mentioned)\n- One specific detail from the job description (e.g. \"field sales quotas\", \"CRM expertise\", \"hybrid work model\")\n- Where your candidates come from (e.g. \"Lyreco competitors\", \"ex-Google\", \"Sage/Oracle partners\", etc.)\n\nWrite a connection note of 180–260 characters that follows this exact tone and structure every time (but vary the wording slightly so no two are identical):\n\n\"Hi [FirstName], saw you're hiring a [JobTitle] for the [Location] area. I'm speaking with a couple of strong [JobTitle] people with [JD detail] from [source of candidates]. Happy to share their profiles if useful, no obligation at all. Thanks, Ammar\"\n\nRules:\n- Weave the JD detail naturally into the candidate description (e.g. \"strong BDE people with field sales quotas from Lyreco competitors\")\n- Never use \"I hope this message finds you well\", \"pleasure connecting\", \"trusted talent partner\", or anything salesy\n- No emojis, no exclamation marks except possibly at the very end\n- No bullet points, no bold, no markdown\n- Never say \"AI\", \"crafted\", \"personalised\", etc.\n- Slight natural variations only (e.g. \"noticed\" instead of \"saw\", \"a few\" instead of \"a couple\", \"might save you some time\" instead of \"if useful\")\n\nReturn ONLY the final message text, nothing else."
        }
      },
      "id": "2e446b8a-020f-4334-959d-ddfd65a71856",
      "name": "personalized_connection",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        496,
        336
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json['Job LinkedIn URL'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2128,
        496
      ],
      "id": "663fc45c-153e-4d76-9d34-61f8f98f1815",
      "name": "scrape_jobDescription",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        432
      ],
      "id": "c9d07892-7ac3-41a9-8f73-b0276c5a28e5",
      "name": "Send a message",
      "webhookId": "a4ba1e13-5a55-4ca1-b738-c87501b15e75",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU",
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles UK ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2093145712,
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit#gid=2093145712"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('get_LinkedIn').item.json.row_number }}",
            "Processed": "={{ $json.status }}",
            "message_sent": "={{ $json.noteSent }}",
            "Profile_Url": "={{ $json.HOS_Profile }}",
            "Name": "={{ $json.HOS_Name }}",
            "Head of Sales": "Found"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Find jobs",
              "displayName": "Find jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job LinkedIn URL",
              "displayName": "Job LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted On",
              "displayName": "Posted On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact ",
              "displayName": "Contact ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Head of Sales",
              "displayName": "Head of Sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Profile_Url",
              "displayName": "Profile_Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_sent",
              "displayName": "message_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        240
      ],
      "id": "9894c0cb-4a16-451d-bead-2aa1172dbe26",
      "name": "invitation_sent",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N7IlWg1Kh9wzs68A",
          "name": "hussein_sheets"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/96 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2576,
        400
      ],
      "id": "9046e272-d34a-4938-86c8-d07f04ad0fa4",
      "name": "run_15 times daily"
    },
    {
      "parameters": {
        "sendTo": "ammar@vecpg.com",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1904,
        592
      ],
      "id": "045d79b4-fc16-49db-ba3d-3aaa23f988d0",
      "name": "Send a message1",
      "webhookId": "a4ba1e13-5a55-4ca1-b738-c87501b15e75",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "HOS_Name",
              "value": "={{ $('HR_LinkedInURL').item.json.name }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "HOS_Profile",
              "value": "={{ $('HR_LinkedInURL').item.json.HOS_profile }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "noteSent",
              "value": "={{ $('personalized_connection').item.json.output }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "status",
              "value": "={{ $json.status || 'Sent' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8f5c2709-25fb-466f-9963-0388d780af4b",
      "name": "Prepare Log Entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU",
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles UK ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2093145712,
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit#gid=2093145712"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('get_LinkedIn').item.json.row_number }}",
            "Head of Sales": "No Notable Head of Sales found ",
            "Processed": "Processed"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Find jobs",
              "displayName": "Find jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job LinkedIn URL",
              "displayName": "Job LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted On",
              "displayName": "Posted On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact ",
              "displayName": "Contact ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Head of Sales",
              "displayName": "Head of Sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Profile_Url",
              "displayName": "Profile_Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_sent",
              "displayName": "message_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        656
      ],
      "id": "331bfff5-a057-43e0-b25e-efcfbbfe5ded",
      "name": "HOS_not_found",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N7IlWg1Kh9wzs68A",
          "name": "hussein_sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "52b37244-fdfb-4c3f-9be2-d9e10765bdbc",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1680,
        400
      ],
      "id": "5c67c41e-1b6c-40ab-a013-5a6eed0fb942",
      "name": "Job_available"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU",
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles UK ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2093145712,
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit#gid=2093145712"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('get_LinkedIn').item.json.row_number }}",
            "Processed": "Processed",
            "Find jobs": "Job not available anymore"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Find jobs",
              "displayName": "Find jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job LinkedIn URL",
              "displayName": "Job LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted On",
              "displayName": "Posted On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact ",
              "displayName": "Contact ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Head of Sales",
              "displayName": "Head of Sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Profile_Url",
              "displayName": "Profile_Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_sent",
              "displayName": "message_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1360,
        800
      ],
      "id": "661febf0-ebb2-445b-83d3-9cf9e7570bed",
      "name": "job_not_available",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N7IlWg1Kh9wzs68A",
          "name": "hussein_sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU",
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles UK ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2093145712,
          "mode": "list",
          "cachedResultName": "Small company leads for sales roles ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pq5iLBcG5y_7IfBd4jRRBDOAMlaM0wakFMfkcu-53SU/edit#gid=2093145712"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('get_LinkedIn').item.json.row_number }}",
            "Head of Sales": "No Notable Head of Sales found ",
            "Processed": "Processed"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Find jobs",
              "displayName": "Find jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job LinkedIn URL",
              "displayName": "Job LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted On",
              "displayName": "Posted On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact ",
              "displayName": "Contact ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Head of Sales",
              "displayName": "Head of Sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Profile_Url",
              "displayName": "Profile_Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_sent",
              "displayName": "message_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -912,
        528
      ],
      "id": "d11476a1-a35a-44c1-a101-f1a5b5374d91",
      "name": "no_HOS_found",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N7IlWg1Kh9wzs68A",
          "name": "hussein_sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed7b8f6c-efa7-4db6-8f9c-c580cf2372a8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        432
      ],
      "id": "46481c72-3f80-4d98-9125-a7372d207f84",
      "name": "HOS_found"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        464
      ],
      "id": "4c84238e-7f0d-4a51-802a-0457d85e7e86",
      "name": "multipe_HOS"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        464
      ],
      "id": "08a443d7-9faf-4580-aa13-be7f8b521000",
      "name": "3_mins",
      "webhookId": "0ed89cae-0055-4c8f-a323-a70a13e5d3b0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1ff16e93-8132-4dfe-8164-655b4301a395",
              "leftValue": "={{ $json.output[\"head of sales\"].relevanceScore }}",
              "rightValue": 95,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        336
      ],
      "id": "faa00e03-c74c-4ab9-83ff-f6f52baff526",
      "name": "score >=95"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "65cd79c9-cd6e-4328-bf93-077859d69db9",
              "leftValue": "={{ ['Head of Sales', 'Sales Manager', 'VP of Sales', 'Director of Sales'].some(keyword => $json.headline.includes(keyword)) }}",
              "rightValue": "={{ 'Head of Sales' || 'Sales Manager' }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -912,
        336
      ],
      "id": "88a3b0e8-db4f-4fa5-a15f-76cf44c67d65",
      "name": "contains_keywords",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "ammar@vecpg.com",
        "subject": "={{ 'LinkedIn Outreach Daily Summary - ' + $now.toFormat('yyyy-MM-dd') }}",
        "message": "={{ '<h2>LinkedIn Outreach Daily Summary</h2><p><strong>Date:</strong> ' + $now.toFormat('yyyy-MM-dd') + '</p><h3>Statistics</h3><ul><li><strong>Total Connections Sent:</strong> ' + $('Aggregate Daily Summary').item.json.count + '</li><li><strong>Jobs Processed:</strong> ' + $('Aggregate Daily Summary').item.json.uniqueJobs + '</li></ul><h3>Connections Made Today</h3>' + $('Aggregate Daily Summary').item.json.connectionsList + '<hr><p style=\"color: #666; font-size: 12px;\">This is an automated summary from your LinkedIn Outreach workflow.</p>' }}",
        "options": {}
      },
      "id": "a86aaf96-81af-431e-ba61-69e4d061dbd3",
      "name": "Apify_error",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1136,
        624
      ],
      "webhookId": "9c70030e-a6f5-4a0b-8cb9-e17ba20a75b8",
      "disabled": true
    },
    {
      "parameters": {
        "height": 848,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2736,
        96
      ],
      "id": "d1fc98de-6c9f-4f45-82c3-39826669167a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "height": 848,
        "width": 1184,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        160
      ],
      "id": "9fca5e42-8901-4469-aaaa-97c7458e2cd2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "height": 992,
        "width": 1776,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        16
      ],
      "id": "023c1392-ed40-4a23-b5a1-a0a116702ac2",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ],
    "run_15 times daily": [
      {
        "json": {
          "timestamp": "2025-12-09T17:09:10.901+03:00",
          "Readable date": "December 9th 2025, 5:09:10 pm",
          "Readable time": "5:09:10 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "09",
          "Hour": "17",
          "Minute": "09",
          "Second": "10",
          "Timezone": "Africa/Nairobi (UTC+03:00)"
        }
      }
    ]
  },
  "connections": {
    "Daily Summary Schedule": {
      "main": [
        [
          {
            "node": "Read Daily Logs from Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Daily Logs from Sheets": {
      "main": [
        [
          {
            "node": "Aggregate Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Daily Summary": {
      "main": [
        [
          {
            "node": "Send Daily Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_LinkedIn": {
      "main": [
        [
          {
            "node": "scrape_jobDescription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_hiring managers": {
      "main": [
        [
          {
            "node": "HOS_found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apify_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR_LinkedInURL": {
      "main": [
        [
          {
            "node": "multipe_HOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get_LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_invitation": {
      "main": [
        [
          {
            "node": "Prepare Log Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Filter Top Head of Sales",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "personalized_connection",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Hiring Managers Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Filter Top Head of Sales",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Job_available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Top Head of Sales": {
      "main": [
        [
          {
            "node": "score >=95",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "personalized_connection": {
      "main": [
        [
          {
            "node": "send_invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_jobDescription": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invitation_sent": {
      "main": [
        [
          {
            "node": "3_mins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run_15 times daily": {
      "main": [
        [
          {
            "node": "get_LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Entry": {
      "main": [
        [
          {
            "node": "invitation_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job_available": {
      "main": [
        [
          {
            "node": "scrape_hiring managers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "job_not_available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOS_found": {
      "main": [
        [
          {
            "node": "contains_keywords",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no_HOS_found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "multipe_HOS": {
      "main": [
        [],
        [
          {
            "node": "personalized_connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3_mins": {
      "main": [
        [
          {
            "node": "multipe_HOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "score >=95": {
      "main": [
        [
          {
            "node": "HR_LinkedInURL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HOS_not_found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contains_keywords": {
      "main": [
        [
          {
            "node": "Filter Top Head of Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4761a671-49a5-47be-a49b-b2a0cc2617a1",
  "meta": {
    "instanceId": "4bb1dc8a8f068b1e27771c6dbb7c97308b280bd40e443a6f5615cb57218bc5fe"
  },
  "id": "YavDd86RUoLiL1pZ",
  "tags": [
    {
      "updatedAt": "2026-02-01T07:13:29.405Z",
      "createdAt": "2026-02-01T07:13:29.405Z",
      "id": "TqgeZ0u2ngENKTUu",
      "name": "LinkedIn_outreach"
    }
  ]
}